@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
    font-family: 'Quicksand', cursive;
}

.title {
    position: fixed;

    font-family: 'Courier New', Courier, monospace;

    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.stripe {
    background-color: rgb(231, 231, 231);

    position: relative;

    padding-bottom: 2px;

    top: 40px;
    left: 0;
    width: 100%;
    max-height: 0.2%;
}

.ptitle {
    position: relative;
    top: 60px;

    font-size: 48px;
}

.pstitle {
    position: relative;
    top: 50px;

    font-size: 12px;
}

.postbox {
    position: relative;

    top: 80px;
    left: 0;

    width: 100%;
    height: 20%;

    background-color: rgba(0, 0, 0, 0.342);
}

.posttitle {
    position: relative;

    margin-top: 20px;
    margin-left: 20px;

    float: left;

    font-size: 28px;
    color: rgb(0, 0, 0);
}

.date {
    position: relative;

    padding-top: 55px;
    margin-left: 22px;

    font-size: 21px;
    color: rgba(0, 0, 0, 0.452);
}


.image {
    float: left;
}

.read {
    position: relative;

    float: right;
    margin-top: 20px;

    font-size: 21px;
    color: rgb(0, 0, 0);

    background: none;
    outline: transparent;
    border: none;
}

.read:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.342);
    transition: color 0.2s;
}

.two {
    margin-top: 32px;
}

.back {
    position: relative;
    top: 42px;
    left: 20px;

    font-size: 21px;
    color: rgb(0, 0, 0);

    background: none;
    outline: transparent;
    border: none;
}

.back:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.342);
    transition: color 0.2s;
}

.artitle {
    position: relative;
    top: 42px;

    font-size: 36px;
    color: rgb(0, 0, 0);
}

.ardate {
    position: relative;
    top: 44px;

    font-size: 21px;
    color: rgba(0, 0, 0, 0.342);
}

.arwritting {
    position: relative;
    top: 56px;

    font-size: 21px;
    color: rgb(0, 0, 0);
}