/* HTML Default formatting */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    overflow: visible;

	background: linear-gradient(-45deg, #bfb2f3, #96caf7, #9cdcaa, #e5e1ab, #f3c6a5, #f8a3a8);
	background-size: 400% 400%;
	animation: gradient 9s ease-out infinite;
	min-height: 100vh;
}

body {
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 20px auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
/* Box for contents */

.wbox {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    min-height: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
}

.wbox b {
    text-align: center;
    display: block;
}

.wbox:hover {
    background-color: white;
    color: black;

    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

b {
    font-weight: bolder;   
}

a {
    position: relative;
    font-weight: bolder;
    color: rgb(230, 230, 230);

    top: 50%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 9999%;
    padding-left: 12px;
    margin-top: -30px;
    margin-bottom: 20px;

    /* Putting this rule on the icon always (not just when hovered) means it will transition both into and out of the hover state */
    transition: transform 0.5s ease-in-out;
}

.icon:hover {
    /* This scales evenly without affecting the positioning of other elements */
    transform: scale(1.25);
}

.ibox {
    padding: 20px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 20px;
}

.ibox:hover .ib {
    background-color: white;
    transition: color 0.8s ease-in-out;
}
.ib {
    font-weight: bolder;
    color: rgb(230, 230, 230);
    font-size: x-large;
}

.in {
    color: rgb(230, 230, 230);
    font-size: medium;
}

.pbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: auto;
    top: 0;
    right: 0;
    left: 0;

    padding: 20px;
    min-height: 100px;
    width: 300px;

    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.pt {
    color: rgb(230, 230, 230);
    font-size: x-large;
    font-weight: bolder;
}


.pte {
    color: rgb(230, 230, 230);
    font-weight: bolder;
    font-size: medium;
}

.fbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: auto;
    bottom: -90;
    right: 0;
    left: 0;

    padding: 20px;
    min-height: 40px;
    min-width: 300px;

    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.ft {
    color: rgb(230, 230, 230);
    font-size: x-large;
    font-weight: bolder;
}